.title.main {
    font-size: 36px;
}

.title.breakfast {
    font-size: 30px;
}

.title {
    color: black;
    font-family: cursive, fantasy, sans-serif;
    font-weight: bold;
    text-align: center;
}

.image {
    height: auto;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.food {
    color: rgb(200, 162, 200);
    font-family: cursive, fantasy, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
